
.filters-contaier-mobile {
    display: none;
}

.filters-contaier {
    border-right: 1px solid var(--primary-color);
    text-align: left;
    width: 15rem;
    padding: 1rem 2rem;
    /* position: sticky; */
}

.filters-contaier input {
    margin-right: 0.5rem;
}

.filters-heading {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
    font-size: 1.5rem;
}

.clr-btn {
    all: unset;
    cursor: pointer;
    color: var(--primary-color);
}


.sub-heading {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 1rem 0rem;
}

.price-slider-container {
    margin: 1rem 0rem;
}

.price-slider-container div {
    margin-top: 1rem;
}

.ranges {
    display: flex;
    justify-content: space-between;
}

.price-slider {
    width: 100%;
    /* accent-color: var(--primary-color); */
}

.categories-filter-container {
    margin: 1rem 0rem;
}

.categories-filter-container div {
    margin: 0.3rem 0rem;
}

.sizes-filter-container {
    margin: 1rem 0rem;
}

.sizes-filter-container div {
    margin: 0.3rem 0rem;
}

.ratings-filter-container {
    margin: 1rem 0rem;
}

.ratings-filter-container div {
    margin: 0.3rem 0rem;
}

.sorts-filter-container {
    margin: 1rem 0rem;
}

.sorts-filter-container div {
    margin: 0.3rem 0rem;
}

.inp-n-label {
    display: flex;
    align-items: center;
}

/* Styles for mobiles */

@media (max-width: 768px) {

    .filters-contaier-mobile {
        display: inline-block;
        position: absolute;
        z-index: 5;
        /* border-right: 1px solid var(--primary-color); */
        text-align: left;
        width: 60vw;
        max-height: 75vh;
        overflow: scroll;
        padding: 1rem 2rem;
        backdrop-filter: blur(15px);
        background: hsla(0, 1%, 68%, 0.6);
        font-weight: 500;
        /* background: hsla(0,0%,100%,.3); */
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .close-viewasidemobile {
        text-align: right;
        font-size: 1.5rem;
    }

    .inp-n-label label {
        margin-left: 1rem;
    }
    
    .filters-contaier {
        display: none;
    }

    .aside-section-viewer {
        display: inline-block;
    }
}